.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 1vh;
  #editTodo{
    padding: 5px 10px;
    border: 0.5px solid gray;
    outline: none;
    border-radius: 5px;
    width: 60%;
    font-size: 12px;
    font-weight: 300;
  }
  .button-wrapper{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 15px;
    font-weight: 500;
  }
  span {
    display: flex;
    gap: 0.5vw;
    button {
      height: 5vh;
      width: 50px;
      font-size: 13px;
      padding: 2px;
      border: none;
      outline: none;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
